.module-code-5 {
	background-color: #4871a8;
}
.module-code-8 {
	background-color: #295282;
}
.module-code-15 {
	background-color: #173b66;
}
.module-code-18 {
	background-color: #76b7bd;
}
.module-code-20 {
	background-color: #66a9ae;
}
.module-code-22 {
	background-color: #599ba2;
}
.module-code-25 {
	background-color: #397b86;
}
.module-code-30 {
	background-color: #09555a;
}
.module-code-40 {
	background-color: #608c5a;
}
.module-code-45 {
	background-color: #436d36;
}
.module-code-60 {
	background-color: #385b2f;
}
.module-code-75 {
	background-color: #ba9332;
}
.module-code-90 {
	background-color: #b16328;
}
.module-code-100 {
	background-color: #9c4122;
}
.module-code-120 {
	background-color: #832f1a;
}